@import "~bootstrap/scss/bootstrap";

.box-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 18, 46, 0.4);
  border-radius: 5px;
}

#display-events-import {
  margin-top: 20px;
}

.custom-control {
  float: right;
  bottom: 0;
  position: absolute;
  right: 0;
}

.chart {
  display: inline-block;
  float: left;
}

.market {
  display: inline-block;
  margin-bottom: 30px;
}

.event {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

.event button {
  position: absolute;
  left: 510px;
  top: 0;
}

.event select {
  position: absolute;
  top: 0;
  left: 300px;
  width: 200px;
}