{#<button id="start-live-betting" type="button" class="btn btn-primary btn-lg btn-block">Start Live Betting</button>#}
{#<button id="stop-live-betting" type="button" class="btn btn-danger btn-lg btn-block">Stop Live Betting</button>#}
<style>
    body {
        max-width: 100% !important;
    }
</style>
<div id="liveBettingBacktest">

</div>