<div class="col-12">
    <button id="generate-new-token-button" type="button" class="btn btn-primary">Generate new token for dev</button>
    <label for="generate-new-token-result"></label><input class="form-control" id="generate-new-token-result"/>
    <p>Place this token in : node/matchbook/Env.js DEV_SESSION_TOKEN</p>
</div>
<hr>