<form id="form-import-filter">

    <div class="form-group">
        <label for="select-sport">Select sport</label>
        <select name="sport-ids" class="form-control" sport-select id="select-sport"></select>
    </div>

    <div class="form-group">
        <label for="after-sport">After</label>
        <input name="after" type='text' class="form-control" id='after-sport' />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>